.sidebar {
  position: fixed;

  left: 0;
  min-height: 100vh;
  background: linear-gradient(180deg, #54d3c2 0%, #30898a 100%);
  border-radius: 56px 0px 0px 56px;
}
.container {
  padding: 55px 85px 70px 30px;
}
