@import "public/fonts/ProximaNova/stylesheet";

$fw-light: 300;
$fw-regular: 400;
$fw-semibold: 600;
$fw-bold: 700;
$fw-extrabold: 800;

$font-Proxima: "Proxima Nova", -apple-system, BlinkMacSystemFont, Segoe UI,
  Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
  sans-serif;
